.other-bindings {
    margin-top: 20px;
}
.other-bindings span.tag {
    margin-right: 5px;
}

.your-books {
    margin-top: 60px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
}

.your-books .image {
    height: 128px;
    overflow-y: hidden;
}

.faqs {
    margin-top: 100px;
    border-top: 1px solid #efefef;
    padding-top: 30px;
}

.examples {
    margin-top: 60px;
}
.examples h4 {
    font-style: italic;
}
